/* src/components/Login.css */
body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('client/src/components/b1.png'); /* Adjust path as necessary */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
.login-container {
  width: 400px;
  margin: 200px auto;
  background-color: #9e829c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(185, 69, 69, 0.1);
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s ease;
  
}

input:focus {
  border-color: #007bffb5;
  outline: none;
}

.sign {
  width: 20rem;
  background-color:#291528;
  color: rgb(245, 238, 238);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  
}

.sign:hover {
  background-color:#2915286e;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
/* src/components/Login.css and src/components/SignUp.css */

.extra-links {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.extra-links a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.extra-links a:hover {
  color: #0056b3;
}

p {
  margin: 0;
}

.sign{
  text-decoration: none;
  color: #fff;
}


  